body {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App-body {
  padding-bottom: 30px;
}

.checklist {
  background-color: #282c34;
}

.journal {
  background-color: #223624;
}

a, a:visited, a:hover, a:active {
  color: white;
}

.section {
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.section::-webkit-scrollbar {
  display: none;
}

.section-header {
  text-align: center;
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  cursor: pointer;
  border: solid white 1px;
  color: white;
}

td.checked {
  border: solid black 1px;
  background-color: white;
  color: black;
}

th {
  border: none;
  color: white;
}

.complete {
  background: #ffd000;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  height: 30px;
  display: flex;
  flex-direction: rows;
  align-items: center;
}
