.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 25px;
}

.section-header {
  text-align: center;
  cursor: pointer;
}

td {
  cursor: pointer;
  border: solid white 1px;
}

.complete {
  background: #ffd000;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: left;
  height: 25px;
  display: flex;
  flex-direction: rows;
}